body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin: 20px;
  width: 100px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
div {
  text-align: center;
}
